body
{
	background: rgb(160, 213, 238);
}

	.login_div1 , .login_div2
	{
		background: rgb(230, 161, 236);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(232, 201, 241);
border-radius: 10px;
border-top: 10px solid #bd80f0;
padding: 10px;
float: none;
text-align: left;
}